@import 'tailwindcss';
@import 'tw-animate-css';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@source inline("bg-cyan-600/20");

/* Scrollbar */

:root {
  --sb-track-color: #fafafa;
  --sb-thumb-color: #f4f4f5;
  --sb-size: 8px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
